@import '../../lib/scss/variables.scss';

.section {
  padding: responsive(25, 60) responsive(10, 80);
  min-height: calc(100vh - 100px);
  transition: background .5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $medium-devices) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    .chart {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      @media screen and (min-width: $medium-devices) {
        align-items: flex-start;
        width: 60%;
      }

    }
  }

  .info {
    @media screen and (min-width: $medium-devices) {
      width: 39%;
    }
    >div {
      width: 100%;
    }
  }

  .slider {
    position: absolute;
    bottom: 0;
    width: 35%;
    display: none;
    min-height: 55vh;
    @media screen and (min-width: $medium-devices) {
      display: flex;
      flex-direction: column;
    }
    li {
      img {
        display: block;
        width: 100%;
      }
      h3 {
        position: absolute;
        background: $grayLight;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px 30px;
        border-radius: 50px;
        font-size: 24px;
        white-space: nowrap;
      }
    }
  }
}

.loading {
  text-align: center;
  padding: 20px;
}
