@import '../../lib/scss/variables.scss';

.orbital {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $medium-devices) {
    // align-items: flex-start;
    // width: 70%;
    width: 90%;
    margin: 40px auto 0;

    // Provisorio //////////////////////////////////
    height: 78vh; // provisorio
    border: 2px solid #fff; // provisorio
    display: flex; // provisorio
    justify-content: center; // provisorio
    align-items: center; // provisorio

    h2 {
      color: #fff; // provisorio
    }
    // Provisorio //////////////////////////////////
  }
}

svg {
  margin: 0 auto;
  @media screen and (min-width: $medium-devices) {
    margin: 40px auto 0;
  }
  .stroke {
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
  }
  .text {
    // font-size: responsive(14, 18);
  }
}






.loading {
  text-align: center;
  padding: 20px;
}