@import '../../lib/scss/variables.scss';

.orbital {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;

  order: 2;
  margin: responsive(40, 50) auto;

  @media screen and (min-width: $medium-devices) and (orientation: landscape) {
    width: 60vh;
    height: 60vh;
  }

  .middle {
    position: absolute;
    font-weight: bold;
    text-align: center;
    max-width: 100px;
  }

  svg {
    margin: 0 auto;
    // transform: rotate(90deg);
    //.stroke {
      //transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
    //}
    .text {
      font-weight: bold;
    }
    .point {
      cursor: pointer;
      circle, text {
        transition: fill .5s ease;
      }
      &:hover {
        circle, text {
          fill: #4b4b4b;
          transition: fill .5s ease;
        }
      }
    }
    .rect {
      transition: fill .5s ease;
    }
  }
}