@import '../../lib/scss/variables.scss';

.chart_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 2;
  margin: 20px auto;

  .legend {
    margin: 0 0 responsive(20, 40);
    font-size: 12px;
    text-align: center;
  }
}

.orbital {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  position: relative;


  @media screen and (min-width: $medium-devices) and (orientation: landscape) {
    width: 60vh;
    height: 60vh;
  }

  .middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    text-align: center;
    max-width: 70px;
    font-size: 12px;
    display: none;
    @media screen and (min-width: $medium-devices){
      display: block;
    }
    
  }

  svg {
    // margin: 0 auto;
    padding: 0 20px;
    // transform: rotate(90deg);
    //.stroke {
      //transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
    //}
    .text {
      font-weight: bold;
    }
    .point {
      cursor: pointer;
      circle, text {
        transition: fill .4s ease;
      }
      &:hover {
        circle, text {
          fill: #4b4b4b;
          transition: fill .4s ease;
        }
      }
    }
    .rect {
      transition: fill .4s ease;
    }
  }
}