@import '../../lib/scss/variables.scss';

.chart_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 2;
  margin: 20px auto;

  .legend {
    font-size: 12px;
    text-align: center;
    margin: 0 0 12px;
  }
}

.radar {

  margin: responsive(20, 40) 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;

  position: relative;

  // order: 2;
  // margin: responsive(40, 50) auto;

  @media screen and (min-width: $medium-devices) and (orientation: landscape) {
    width: 60vh;
    height: 60vh;
  }

  .categories {
    position: absolute;
    .name {
      position: relative;
      font-family: $robotoMedium;
      top: 50%; 
      left: 50%;
      text-align: center;
      width: 120px;
      height: 16px;
      margin-left: -60px;
      margin-top: -8px;
      color: #4b4b4b;
      font-size: responsive(12, 18);
      // background: #fff;

      &:nth-of-type(1) { transform: rotate(-90deg) translate(33vw) rotate(90deg); }
      &:nth-of-type(2) { transform: rotate(-160deg) translate(40vw) rotate(160deg); }
      &:nth-of-type(3) { transform: rotate(-210deg) translate(45vw) rotate(210deg); }
      &:nth-of-type(4) { transform: rotate(-270deg) translate(40vw) rotate(270deg); }
      &:nth-of-type(5) { transform: rotate(-336deg) translate(42vw) rotate(336deg); }
      &:nth-of-type(6) { transform: rotate(-390deg) translate(44vw) rotate(390deg); }

      @media screen and (min-width: 700px) {
        &:nth-of-type(1) { transform: rotate(-90deg) translate(20vw) rotate(90deg); }
        &:nth-of-type(2) { transform: rotate(-155deg) translate(23vw) rotate(155deg); }
        &:nth-of-type(3) { transform: rotate(-210deg) translate(25vw) rotate(210deg); }
        &:nth-of-type(4) { transform: rotate(-270deg) translate(23vw) rotate(270deg); }
        &:nth-of-type(5) { transform: rotate(-336deg) translate(25vw) rotate(336deg); }
        &:nth-of-type(6) { transform: rotate(-390deg) translate(26vw) rotate(390deg); }
      }

      @media screen and (min-width: $medium-devices) {
        width: 140px;
        margin-left: -70px;
        &:nth-of-type(1) { transform: rotate(-90deg) translate(28vh) rotate(90deg); }
        &:nth-of-type(2) { transform: rotate(-157deg) translate(34vh) rotate(157deg); }
        &:nth-of-type(3) { transform: rotate(-207deg) translate(35vh) rotate(207deg); }
        &:nth-of-type(4) { transform: rotate(-270deg) translate(33vh) rotate(270deg); }
        &:nth-of-type(5) { transform: rotate(-335deg) translate(34vh) rotate(335deg); }
        &:nth-of-type(6) { transform: rotate(-389deg) translate(35vh) rotate(389deg); }
      }

    }
  }

  .empty {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    z-index: 1;

    width: responsive(200, 300);
    height: responsive(200, 300);
    opacity: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    transition: background .5s ease; 

    h4 {
      font-size: responsive(22, 24);
      margin: 0 0 18px;
    }
    p {
      font-size: responsive(12, 14);
      line-height: 20px;
      padding: 0 20px;
    }
  }

  .none {
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 0;
    transition: background .5s ease; 
  }

  svg {
    margin: 0 auto;
    transform: rotate(90deg);

    .stroke {
      transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
    }
    .areaContainer {
      transform: rotate(90deg);
    }
  }
}


