@import '../../lib/scss/variables.scss';

.radar {
  padding: 25px 10px;
  background-color: #FF7E7E;
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
  	padding: 10px;
  }
}