@import '../../lib/scss/variables.scss';

.category {
  @include grid();
  background-color: $gray;

  .content {
  	display: flex;
  	flex-direction: column;
    width: 100%;
  	@media screen and (min-width: $medium-devices) {
  		flex-direction: row;
  		justify-content: space-between;
  	}

  	.info {
      width: 100%;
      @media screen and (min-width: $medium-devices) {
  		  width: 25%;
      }
  		>div {
  			width: 100%;
  		}

      .nav {
        display: none;
        @media screen and (min-width: $medium-devices) {
          display: block;
        }
        .item {
          margin: 0 0 24px;
          background-repeat: no-repeat;
          background-position: center left;
          background-size: 40px;
          height: 40px;
          padding: 0 0 0 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-family: $robotoLight;
          font-size: 20px;
          opacity: 0.5;
          &.clicked {
            opacity: 1;
            font-family: $robotoMedium;
          }
        }
      }
  	}

  	.chart {

      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;

      header {
        display: flex;
        justify-content: space-between;
        .arrow {
          font-size: 16px;
          color: #fff;
          padding: 10px;
          background-image: url(/static/img/slider_arrow.svg);
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
          width: 32px;
          &.prev {
            transform: rotate(-180deg);
          }
        }

        .text {
          max-width: 340px;
          h2 { 
            color: $black;
            margin: 0 0 15px;
          }
          text-align: center;
        }
      }

      .bars {
        text-align: center;
        // background: yellow;
        display: none;
        &[val='bars'] {
          display: block;
        }

      }

      .terms {
        text-align: center;
         // background: yellow;
        display: none;
        &[val='terms'] {
          display: block;
        }
      }

      .nav {
        display: flex;
        justify-content: center;
        margin: 15px 0 0;
        button {
          width: 12px;
          height: 12px;
          border-radius: 100%;
          background: $grayLight;
          margin: 0 10px;
          &.clicked {
            background: $grayDark;
          }
        }
      }
	    @media screen and (min-width: $medium-devices) {
	    	width: 70%;
  		}
  	}

  }
}

.loading {
  text-align: center;
  padding: 20px;
}
