@import '../../lib/scss/variables.scss';

.category {
  @include grid();
  background-color: $gray;

  .content {
  	display: flex;
  	flex-direction: column;
    width: 100%;
  	@media screen and (min-width: $medium-devices) {
  		flex-direction: row;
  		justify-content: space-between;
  	}

  	.info {
      width: 100%;
      @media screen and (min-width: $medium-devices) {
  		  width: 25%;
      }
  		>div {
  			width: 100%;
  		}

      .nav {
        font-size: 20px;
        .item {
          margin: 0 0 24px;
          background-repeat: no-repeat;
          background-position: center left;
          background-size: 40px;
          height: 40px;
          padding: 0 0 0 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;

        }
        
      }
  	}

  	.chart {
      height: 80vh;


  		// Provisorio //////////////////////////////////

	    border: 2px solid #b4b4b4; // provisorio
	    // display: flex; // provisorio
	    // justify-content: center; // provisorio
	    // align-items: center; // provisorio

	    h2 {
	      color: #b4b4b4; // provisorio
        text-align: center;
	    }
	    // Provisorio //////////////////////////////////

	    @media screen and (min-width: $medium-devices) {
	    	width: 70%;
  		}
  	}

  }
}

.loading {
  text-align: center;
  padding: 20px;
}
