@import '../../lib/scss/variables.scss';


.container {
  display: none;
  &[type='bars'] {
    display: block;
  }
}
.percent {
  font-size: 12px;
  text-align: center;
}
.chart {

  path {
    stroke: none;
  }
  line {
    stroke-dasharray: 2px;
    stroke: #b4b4b4;
  }

  rect {
    transition: height .8s ease;
  }
  text {
    font-size: 14px;
    color: #4B4B4B;
    opacity: .8;
  }

}


.list {
  display: flex;
  margin: 0;
  justify-content: space-between;

  @media screen and (min-width: 500px) {
    margin: 0 0 0 5px;
  }

  @media screen and (min-width: 800px) {
    margin: 0 0 0 25px;
  }

  li {
    width: 18px;
    @media screen and (min-width: 500px) {
      width: 30px;
    }
    img {
      display: block;
      width: 100%;
      filter: grayscale(100%);
      opacity: 0.5;
    }
  }
}