@import '../../lib/scss/variables.scss';





      .nav {
        font-size: 20px;
        .item {
          margin: 0 0 24px;
          background-repeat: no-repeat;
          background-position: center left;
          background-size: 40px;
          height: 40px;
          padding: 0 0 0 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;

          background-color: pink;

          &.clicked {
            color: red;
          }
        }
        
      }


  	.slider {
      height: 80vh;

      .nav {
        background-color: pink;
        width: 100%;
        display: flex;
        justify-content: space-between;
        button {
          font-size: 16px;
          background-color: blue;
          color: #fff;
          padding: 10px;
        }
      }

      .text {
        text-align: center;
      }

      .bars {
        text-align: center;
        background: yellow;
        display: none;
        &[val='bars'] {
          display: block;
        }

      }

      .terms {
        text-align: center;
         background: yellow;
        display: none;
        &[val='terms'] {
          display: block;
        }
      }

      .dots {
        display: flex;
        justify-content: center;
        margin: 30px 0 0;
        button {
          width: 20px;
          height: 20px;
          border-radius: 100%;
          background: pink;
          margin: 0 10px;
          &.clicked {
            background: red;
          }
        }

      }


  		// Provisorio //////////////////////////////////

	    border: 2px solid #b4b4b4; // provisorio
	    // display: flex; // provisorio
	    // justify-content: center; // provisorio
	    // align-items: center; // provisorio

	    h2 {
	      color: #b4b4b4; // provisorio
        text-align: center;
	    }
	    // Provisorio //////////////////////////////////

	    @media screen and (min-width: $medium-devices) {
	    	width: 70%;
  		}
  	}



