@import '../../lib/scss/variables.scss';

.lines {
	@include grid();

  @media screen and (min-width: $medium-devices) {
    align-items: flex-end;
  }

  .info {
  	display: flex;
  	flex-direction: column;
    order: 2;

  	@media screen and (min-width: $medium-devices) {
    	flex-direction: row;
      >div:first-child {
        width: 40%;
      }
  	}
  }

  .chart {
    order: 2;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    margin: 20px 0px;
    min-height: 50vh; // provisorio

    .axis {
      line {
        opacity: 0.2;
        stroke-dasharray: 1px;
      }

      path {
        visibility: hidden;
      }
    }

    .lines {
      path {
        fill: none;
        stroke-width: 5px;
        opacity: 0.5;
      }
    }
  }
}

.loading {
  text-align: center;
  padding: 20px;
}