@import '../../lib/scss/variables.scss';

.lines {
	padding: responsive(25, 60) responsive(10, 80);
	min-height: calc(100vh - 80px);
  transition: background .5s ease;
  position: relative;

  .info {
  	display: flex;
  	flex-direction: column;

  	@media screen and (min-width: $medium-devices) {
    	flex-direction: row;
  	}
  }

  .chart {
  	// Provisorio //////////////////////////////////
    height: 65vh; // provisorio
    border: 2px solid #b4b4b4; // provisorio
    display: flex; // provisorio
    justify-content: center; // provisorio
    align-items: center; // provisorio

    h2 {
      color: #b4b4b4; // provisorio
    }
    // Provisorio //////////////////////////////////
  }
}