@import '../lib/scss/variables.scss';

.cloud {

	a {
		text-align: center;
		padding: 8px;
		display: inline;
		position: relative;
	}

	@media screen and (min-width: $medium-devices) {
    width: calc(100% - 60px);
    margin: 0 auto;
  }
}
