@import '../lib/scss/variables.scss';

.cloud {
	display: none;
	&[type='terms'] {
		display: block;
	}

	text-align: center;
	a {
		text-align: center;
		padding: 3px;
		display: inline;
		position: relative;
	}

	@media screen and (min-width: $medium-devices) {
    // width: calc(100% - 60px);
    width: calc(100%);
  }
}
