@import '../lib/scss/variables.scss';

.cloud {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 5px;
		a {
			text-align: center;
		}
	}
	@media screen and (min-width: $medium-devices) {
    width: calc(100% - 60px);
    margin: 0 auto;
  }
}
