@import '../lib/scss/variables.scss';

// Filter and Compare
.container {
	display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: $medium-devices) {
		width: 100%;
	}

	@media screen and (min-width: $medium-devices) {
		&.filter {
			p {
				&.show {
					display: block;
				}
				display: none;
			}
		}
	}
}

// If mobile filter
.selected {
	margin: 0 auto 20px;
	width: responsive(140, 220);
	position: relative;
	display: block;

	p {
		display: none;
	}

	li {
		font-size: responsive(12, 22);
		position: relative;
		// padding: 10px 20px 10px 10px;
		padding: 10px;
		overflow: hidden;
		transition: background .4s ease;
		&.disabled {
			transition: background .4s ease;
			background-color: $grayLight;
			color: $grayDark;
		}

		&.unclick {
			color: $grayDark;
		}

		&.choose {
			background-color: $white;
			border: 1px solid #b4b4b4;
    	border-radius: 4px;
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
    	svg {
    		width: 16px;
    		height: 8px;
    		margin: 0;
    	}
		}
	}

	div {
		width: 100%;
		transition: height .4s ease;
		height: 0;
		overflow: hidden;
		position: absolute;
		background-color: $white;
		&.open {
			height: 300px;
			overflow-y: scroll;
		}
	}
}

.filter, .compare {
	display: flex;
	justify-content: flex-end;
	@media screen and (min-width: $medium-devices) {
		display: none;
		&.show {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: auto; 
			ul {
				margin: 0 20px;
				width: auto;
				min-width: 200px;
				div {
					background-color: transparent;
				}
				li {
					background-color: transparent;
					border-radius: 0;
					border: none;
					background-position: center right 0;
    			padding: 10px 0;
    			&.choose {
    				border-bottom: 1px solid #b4b4b4;
    			}
				}
			}
		}
	}
}

// If componente is relationship
.image {
	width: responsive(35, 90);
	height: responsive(35, 90);
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 100%;
	margin: 0 auto 10px;
	display: block;
	@media screen and (min-width: $medium-devices) { 
		margin: 0;
	}
}

$circle-size: responsive(20, 60);

// If desktop filter and not relationship
.list {
	width: 100%;
	display: none;
	@media screen and (min-width: $medium-devices) {
		display: block;
		&.hide {
			display: none;
		}
	}

	p {
		background-image: url(/static/img/candidates/none.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 40px;
    height: 40px;
    padding: 0 0 0 50px;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 40px;
    font-size: 24px;
    font-family: $robotoLight;
    cursor: pointer;
    &.show {
    	display: flex;
    }
	}

	ul {
		width: 100%;
		height: auto;
		position: relative;
		display: flex;
		justify-content: space-around;
		li {
			display: block;
			width: $circle-size;
			height: $circle-size;
			border-radius: 100%;
			overflow: hidden;
			opacity: 1;
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: 100%;
			box-shadow: 0 0 0 3px #fff;
			transition: background .4s ease;
			cursor: pointer;

			&.disabled {
				box-shadow: 0 0 0 4px rgba(255, 255, 255, 0);
				filter: grayscale(100%);
				opacity: .6;
				background-color: rgba(255, 255, 255, .6);
			}
		}
	}
}



