@import '../lib/scss/variables.scss';

.temp {
	display: flex;
	justify-content: space-between;
}

.filter {
	li {
		padding: 5px;
		background-color: #ddd;
		cursor: pointer;
		margin: 10px 0;
	}
}


