@import '../../lib/scss/variables.scss';

.candidate {
	opacity: 1;
  z-index: 1;
	&[type='balls'] {
  	//display: none;
  	display: flex;
  	opacity: 0;
  	position: absolute;
  	z-index: 0;
  }
	@media screen and (min-width: 1100px) {
    width: 35%;
    margin: 60px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &[type='balls'] {
  		display: flex;
  		opacity: 1;
  		z-index: 1;
  	}
  }
	
	// Nav Slider
	.contentImage {
		width: 90px;
		height: 115px;
		position: relative;
		.image {
			background-size: 100%;
			background-repeat: no-repeat;
			border-radius: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: .5;
			transform: translate(-50%, -50%);
			transition: width .4s ease, height .4s ease, opacity .4s ease;
		}
	}

	// Candidate position
	.position {
		background-color: $white;
		display: none;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border-radius: 100%;
		font-size: 14px;
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
		font-family: $robotoMedium;
	}

	// Slider
	.info {
		text-align: center;
		&.choose {
			h3 {
				span {
					background: transparent;
				}
			}
		}
		h3 {
			font-size: responsive(20, 24);
			line-height: 18px;
			margin: 25px 0 20px;
			font-family: $robotoLight;
			@media screen and (min-width: 1100px) {
		    margin: 0 0 40px;
		    height: 45px;
		    display: flex;
		    justify-content: center;
    		align-items: center;
    		span {
    			background: $grayLight;
    			padding: 12px 20px;
    			border-radius: 50px;
    		}
		  }
		}
	}
}

