@import '../../lib/scss/variables.scss';

.candidate {
	
	// Nav Slider
	.contentImage {
		width: 90px;
		height: 90px;
		max-height: 90px;
		position: relative;
		.image {
			background-size: 100%;
			border-radius: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: .5;
			transform: translate(-50%, -50%);
			transition: width .4s ease, height .4s ease, opacity .4s ease;
		}
	}

	// Slider
	.info {
		text-align: center;
		h3 {
			font-size: responsive(20, 24);
			margin: 10px 0 20px;
		}
	}
}






