@import '../../lib/scss/variables.scss';

.candidate {
	@media screen and (min-width: $medium-devices) {
    width: 40%;
    //background: red;
  }
	
	// Nav Slider
	.contentImage {
		width: 90px;
		height: 115px;
		position: relative;
		.image {
			background-size: 100%;
			border-radius: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: .5;
			transform: translate(-50%, -50%);
			transition: width .4s ease, height .4s ease, opacity .4s ease;
		}
	}

	// Candidate position
	.position {
		background-color: $white;
		display: none;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border-radius: 100%;
		font-size: 14px;
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
		font-family: $robotoMedium;
	}

	// Slider
	.info {
		text-align: center;
		h3 {
			font-size: responsive(20, 24);
			line-height: 18px;
			margin: 25px 0 20px;
			@media screen and (min-width: $medium-devices) {
		    margin: 0;
		    height: 45px;
		    display: flex;
		    justify-content: center;
    		align-items: center;
    		span {
    			background: $grayLight;
    			padding: 12px 20px;
    			border-radius: 50px;
    		}
		  }
		}
	}

}

.none {
  display: none;
  @media screen and (min-width: $medium-devices) {
    display: block;
  }
}






