@import '../../lib/scss/variables.scss';

.cloud {
	overflow: hidden;
	&[type='candidate'] {
		display: block;
		align-items: center;
		margin: 20px 0 0;
		@media screen and (min-width: $medium-devices) {
			align-items: initial;
		}
	}
	text-align: center;

	a {
		display: inline;
		position: relative;
		margin-top: 17px;
		padding: 5px;

		transition: opacity .4s ease;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-duration: 1s;
    animation-fill-mode: forwards;
   	// opacity: 0;

		@media screen and (min-width: $medium-devices) {
			max-width: 240px;
			margin-top: 0;
			width: max-content;
		}
	}

	@media screen and (min-width: $medium-devices) {
    width: 100%;
  }
}
