@import '../../lib/scss/variables.scss';

.cloud {
	overflow: hidden;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin: 20px 0 0;
	a {
		position: relative;
		padding: 5px;
		line-height: 0.9em;
		transition: all .4s ease-in-out;

		@media screen and (min-width: $medium-devices) {
			max-width: 240px;
			margin-top: 0;
			width: max-content;
		}
	}
	@media screen and (min-width: $medium-devices) {
    width: 100%;
  }
}
