@import '../../lib/scss/variables.scss';

.graphic {
	position: relative;
	width: 100%;
	height: 300px; // rever
  @media screen and (min-width: $medium-devices) {
    width: 50%;
  }
	span {
		background-size: 100%;
		display: inline-block;
		border-radius: 100%;
		cursor: pointer;
		position: absolute;
		transition: top .4s ease, left .4s ease, opacity .4s ease, width .8s ease, height .8s ease, transform .5s ease;
		&.modal {
			transform: translate(-50%, -50%);
			z-index: 1;
		}
	}
}

.modal {
	p {
  	position: absolute;
  	font-family: $robotoMedium;
    top: 50%; 
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px;

  	@for $i from 1 through $item-count {
     	&:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }
    	$rot: $rot + $angle;
  	}
  }

  span {
  	position: absolute;
  	top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: $white;
    border-radius: 0;
    padding: 8px 5px;
  }
}
