@import '../../lib/scss/variables.scss';

.graphic {
	background-color: #ddd; // rever
	position: relative;
	width: 100%;
	height: 300px; // rever
	span {
		background-size: 100%;
		display: inline-block;
		border-radius: 100%;
		cursor: pointer;
		position: absolute;
	}
}
