@import '../../lib/scss/variables.scss';

.keywords {
  padding: 40px responsive(0, 80);
  background-color: $gray;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .container {
  	display: flex;
  }
}

.none {
	display: none;
}


