@import '../../lib/scss/variables.scss';

.keywords {
  padding: responsive(25, 60) responsive(10, 80);
  min-height: calc(100vh - 80px);
  transition: background .4s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: $medium-devices) {
    justify-content: flex-start;
  }

  .container {
  	display: flex;
  }
}

.none {
	display: none;
}

.loading {
  text-align: center;
  padding: 20px;
}

.stroke {
  color: $grayDark;
}



