@import '../../lib/scss/variables.scss';

.cloud {
	text-align: center;
	a {
		display: inline;
		position: relative;
		margin-top: 17px;
		left: 0;
		transition: left .4s ease;
		@media screen and (min-width: $medium-devices) {
			max-width: 140px;
			transform: translateX(-10%) !important;
			margin-top: 0;
			width: max-content;
		}
	}
	@media screen and (min-width: $medium-devices) {
    width: 100%;
  }
}
