@import '../../lib/scss/variables.scss';

.relationship {
  padding: responsive(25, 60) responsive(10, 80);
  background-color: $gray;

	.compare {
		display: flex;
		justify-content: space-between;

		>div {
			width: 160px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			>div {
				>div {
					margin: 5px 0;
				}
			}
		}
	}

}
.common {
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	font-family: $robotoMedium;
	font-weight: bold;
}

@media screen and (min-width: $medium-devices) {
	.flex {
		display: flex;
	}
}

