@import '../../lib/scss/variables.scss';

.relationship {
  @include grid();
  background-color: $gray;
  overflow: hidden;

  .info {
  	width: 100%;
  	@media screen and (min-width: $medium-devices) {
  		width: 35%;
  	}
  }
  
  .content {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	position: relative;
  	@media screen and (min-width: $medium-devices) {
  		flex-direction: row;
  		align-items: flex-start;
  	}
  }

  .compare {
  	width: 100%;
  	min-height: 80vh;
  	// position: relative;

  	@media screen and (min-width: $medium-devices) {
  		width: 70%;
  	}
  	.container {
  		display: flex;
  		justify-content: space-between;
  	}
  }

	.clouds {
		display: flex;
		justify-content: space-between;
		min-height: 70vh;
		position: relative;

		.legend {
			font-size: 12px;
			font-family: $robotoMedium;
			position: absolute;

			left: 0;
			top: 10px; 

			&.right {
				left: auto;
				right: 0;
			}

		}

		>div {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			font-family: $robotoMedium;
			text-align: center;
			margin: 20px 0 0;

			@media screen and (max-width: $medium-devices) {
				width: 110px;
				a {
					left: 0 !important;
				}
			}
		}
	}

	.common {
		font-size: 10px;
		text-transform: uppercase;
		align-items: center;
		font-family: $robotoMedium;
		position: relative;
		width: auto;
		top: -35px;
		max-height: 610px;

		@media screen and (min-width: $medium-devices) {
			top: 0;
		}
		
		&:before {
			content: '';
			position: absolute;
			border-left: 1px dashed #b4b4b4;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 95%;
		}
	}
	&_words{
		/*	
			position: absolute;
			white-space: nowrap;
			text-transform: lowercase;
		*/

    text-transform: lowercase;
    text-align: center;
    margin: 10px 0;
		font-size: 18px;
		// @media screen and (min-width: $medium-devices) {
			// font-size: 20px;
		// }
	}

}

.loading {
  text-align: center;
  padding: 20px;
}


