@import '../../lib/scss/variables.scss';

.clipping {
	padding: responsive(25, 60) responsive(10, 80);
	background-color: $gray;

	ul {
		display: flex;
		flex-direction: column;

		@media screen and (min-width: $medium-devices) {
			flex-direction: row;
		}
		li {
			margin: 40px 0 0;
			&:first-child {
				margin: 0;
			}
			h2 {
				margin: 0 0 15px;
				font-size: responsive(24, 34);
			}
			p {
				font-family: $robotoLight;
				font-size: responsive(14, 18);
				line-height: responsive(20, 22);
			}
			@media screen and (min-width: $medium-devices) {
				margin: 0 0 0 30px;
				&:first-child {
					margin: 0;
				}
			}
		}
	}
}