@import '../../lib/scss/variables.scss';

.footer {
	h2 {
		margin: 0 0 15px;
		font-size: reponsive(24, 34);
	}
	p {
		font-family: $robotoLight;
		font-size: reponsive(14, 18);
		margin: 0 0 20px;
		line-height: reponsive(20, 22);
	}
}