@import '../../lib/scss/variables.scss';

.project {
	margin: 0 0 40px;
	padding: 25px 10px 0;
	h2 {
		margin: 0 0 15px;
		font-size: 24px;
	}
	p {
		font-family: 'Roboto-Light', sans-serif;
		font-size: 14px;
		margin: 20px 0 0;
		line-height: 20px;
		&:first-child {
			margin: 0;
		}
	}
}