@import '../../lib/scss/variables.scss';

.project {
	margin: 0 0 40px;
	padding: 25px 10px 0;
	p {
		margin: 20px 0 0;
		&:first-child {
			margin: 0;
		}
	}
}
@media screen and (min-width: $medium-devices) {
	.project {
		padding: 25px 40px 0 0px;
	}
}