@import '../../lib/scss/variables.scss';

.team {
	padding: 0 10px;
	margin: 0 0 40px;
	li {
		margin: 20px 0 0;
		&:first-child {
			margin: 0;
		}
		h3 {
			font-family: $robotoMedium;
			font-size: reponsive(14, 18);
		}
		p {
			margin: 0 0 20px;
		}
	}
}
@media screen and (min-width: $medium-devices) {
	.team {
		width: 100%;
		padding: 25px 10px 0;
	}
}