@import '../../lib/scss/variables.scss';

.social {
	display: flex;
	justify-content: center;
	margin: 20px 0 0;
	width: 100%;
	order: 2;
	z-index: 2;
	
	&.bottom {
		position: absolute;
		width: calc(100vw - 80px);
		bottom: responsive(25, 60);
		left: 50%;
		transform: translateX(-50%);
	}

	&.share {
		justify-content: flex-start;
		margin: 20px 0;

		li {
			background-color: #ececec; 
			border-radius: 100%;
			width: 40px;
			height: 40px;

			&:first-child {
				margin: 0;
			}
		}
	}

	@media screen and (min-width: $medium-devices) {
		justify-content: flex-end;
	}

	li {
		margin: 0 0 0 24px;
		@media screen and (max-width: $medium-devices) {
			&:first-child {
				margin: 0;
			}
		}
		a {
			display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    height: 100%;
	    width: 100%;
			svg {
				margin: 0;
			}
		}
	}
}
