@import '../../lib/scss/variables.scss';

.social {
	display: flex;
	justify-content: center;
	margin: 20px 0 0;
	width: 100%;
	order: 2;
	z-index: 2;
	
	&.bottom {
		position: absolute;
		width: calc(100vw - 80px);
		bottom: responsive(25, 60);
		left: 50%;
		transform: translateX(-50%);
	}

	.whats {
		display: block;
		@media screen and (min-width: $medium-devices) {
			display: none;
		}
	}

	.webwhats {
		display: none;
		@media screen and (min-width: $medium-devices) {
			display: block;
		}
	}

	&.share {
		justify-content: flex-start;
		margin: 20px 0;

		li {
			background-color: #ececec; 
			border-radius: 100%;
			width: 40px;
			height: 40px;
			cursor: pointer;

			&:first-child {
				margin: 0;
			}
		}
	}

	@media screen and (min-width: $medium-devices) {
		justify-content: flex-end;
	}

	li {
		margin: 0 0 0 24px;
		cursor: pointer;
		@media screen and (max-width: $medium-devices) {
			&:first-child {
				margin: 0;
			}
		}
		a {
			display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    height: 100%;
	    width: 100%;
			svg {
				margin: 0;
			}
		}
	}
}

.modal {
	position: absolute;
	background-color: #F8F8F8;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 1px 1px 6px 0 #979797;
	z-index: 10;
	max-width: 530px;
	width: 100%;
	padding: 50px 50px;
	// min-height: 82px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	nav {
		display: flex;
		justify-content: center;

		h3 {
			font-size: 18px;
			font-family: $robotoLight;
			margin: 0 30px;
		}
	}

	ul {
		
		display: flex;
		justify-content: center;

		li {
			display: flex;
			justify-content: center;
			width: 100%;
			font-size: 14px;
			margin: 30px 0 0;

			h4 {
				font-family: $robotoMedium;
			}

			p {
				font-family: $roboto;
				margin: 0 14px;
				// width: 100%;
				text-align: center;
			}

			&[type='download'] {
				button {
					border: 1px solid #ECECEC;
					border-radius: 4px;
					width: 80px;
					height: 30px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					margin: 0 20px;
				}
			}

			button {
				font-size: 14px;
			}

			&.open {
				display: flex;
			}
			&.close {
				display: none;
			}
		}

		
	}
}











