@import '../../lib/scss/variables.scss';

.social {
	display: flex;
	justify-content: center;
	margin: 20px 0 0;
	width: 100%;
	
	&.bottom {
		position: absolute;
		width: calc(100vw - 80px);
		bottom: 40px;
		left: 50%;
		transform: translateX(-50%);
	}

	@media screen and (min-width: $medium-devices) {
		justify-content: flex-end;
	}

	li {
		margin: 0 0 0 24px;
		@media screen and (max-width: $small-devices) {
			&:first-child {
				margin: 0;
			}
		}
		a {
			display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    height: 100%;
	    width: 100%;
			svg {
				margin: 0;
			}
		}
	}
}
