@import '../../lib/scss/variables.scss';

.description {
	margin: 0 0 20px;
	text-align: center;
	position: relative;
	@media screen and (min-width: $medium-devices) {
    width: 70%;
    text-align: left;
  }
	h2 {
		font-size: responsive(24, 34);
		margin: 0 0 10px;
	}
	p {
		font-size: responsive(14, 18);
		margin: 0 0 10px;
		line-height: responsive(22, 26);
	}
	button {
		font-size: 14px;
		position: relative;
		display: flex;
		margin: 0 auto;
		align-items: center;

		@media screen and (min-width: $medium-devices) {
			margin: 0;
		}
		span {
			font-size: 14px;
		}
		svg {
			margin: 6px 0 0 10px; 
			width: 16px;
			transform: translateY(-30%) scaleY(1);
			transition: transform .4s ease;
		}
		&.open {
			svg {
				transform: translateY(-50%) scaleY(-1);
				transition: transform .4s ease;
			}
		}
	}
	.more {
		text-align: left;
		margin: 0;
		padding: 0 10px;
		max-height: 0;
		overflow: hidden;
		transition: max-height .4s ease, margin .4s ease, padding .4s ease;
		z-index: 3;
		background-color: #fff;

		@media screen and (min-width: $medium-devices) {
			position: absolute;
		}

		&.open {
			max-height: 1000px;
			padding: 20px 10px;
			transition: max-height .4s ease, margin .4s ease, padding .4s ease;
		}
	}
}
