@import '../../lib/scss/variables.scss';

.period {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  width: 140px;
  align-items: flex-end;
  position: relative;
  z-index: 3;
  order: 2;
  margin: 20px 0 0;

  &.all {
    // margin: 8px 0;
    @media screen and (min-width: $medium-devices) {
      position: absolute;
    }
  }

  &.bottom {
    position: absolute;
    bottom: responsive(65, 100);
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (min-width: $medium-devices) {
    order: 1;
    margin: 0 0 20px;
    background: #fff;
    &.bottom {
      bottom: auto;
      left: auto;
      transform: translateX(0%);
      top: responsive(20, 70);
      right: responsive(20, 80);
    }
  }
  
	li {
		padding: 5px 26px 5px 0;
    cursor: pointer;
    width: 100%;
	}

  .choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b4b4b4;
    padding: 5px 0;
    span {
			color: #b4b4b4;
		}
    p {
      display: inline;
    }
    svg {
      margin: 0;
      width: 16px;
      height: 8px;
    }
  }
	.dropdown {
		display: flex;
    flex-direction: column;
    height: 0;
    transition: height .4s ease;
    overflow: hidden;
    position: absolute;

    margin: 30px 0 0;
    padding: 0 20px;
    background: red;
    z-index: 2;
    width: 46px;

    &.open {
      height: 56px;
    }
    button {
			color: #4b4b4b;
			font-size: 14px;
			&[disabled] {
				transition: background .4s ease;
				color: $grayDark;
			}
		}
	}
}



